*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


body{
    background: black;
    position: relative;
    height: 100vh;
}

header{
    height: 75px;
}

nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 0px 20px;
}

.signup-btn, .register-btn, .search-btn{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding: 6px 16px;
    border-radius: 20px;
}

.signup-btn{
    color: white;
    background:none;
}

.signup-btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.register-btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.search-btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}


.container{
    color: white;
}

.label-flat{
    font-weight: 200;
    font-size: 30px;
}
.label-bold{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

span{
    font-size: 50px;
    height: fit-content;
    font-weight: 700;
}

.container-text{
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: center;
}

img{
    height: 430px;

}

.search-btn{
    width: 220px;
    height: 40px;
    margin-top: 30px;
}

.label-info{
    display: flex;
    flex-direction: column;
    
}

.wave{
    bottom: 0;
    display: flex;
    position: absolute;
    width: 100%;
    background-size: cover;
}